@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(186, 15%, 59%);
    --Corpo: #E2F1E7;
    --button-hover: #063F36;
    --Containe-Message: #2A4244;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E2F1E7;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    font-family: "Karla", sans-serif;
}

.container-form {
    margin-top: 1.875rem;
    /* 30px */
    background-color: #fff;
    width: 50rem;
    /* 800px */
    height: auto;
    padding: 1.875rem;
    /* 30px */
    border-radius: 0.625rem;
    /* 10px */
}

main {
    display: flex;
    justify-content: center;
}

/*------------------------ContainerMessage------------------------*/
#successMessage {
    background-color: var(--Containe-Message);
    position: absolute;
    width: 34.375rem;
    height: 6.25rem;
    top: 4vh;
    display: none;
    padding: 1.25rem;
    border-radius: 0.3125rem;
    gap: 0.625rem;
    flex-direction: column;
    z-index: 1000;
}

.top-content {
    display: flex;
    gap: 0.3125rem;
    align-items: center;
    color: #fff;
}

.top-content .check {
    color: #fff;
}

.message {
    color: #fff;
    font-size: 0.75rem;
    margin-top: 0.625rem;
    padding-bottom: 1.875rem;
}

/*----------------------- Inputs e Labels------------------------- */
input[type="text"],
input[type="email"] {
    width: 100%;
    height: 2.5rem;
    border-radius: 0.3125rem;
    border: 1px solid #616161;
}

input[type="text"] {
    width: 22.9375rem;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    padding: 0.625rem;
}

.input-form,
.email-form {
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
}

.input-form label,
.email-form label {
    margin-bottom: 0.625rem;
}

.form {
    display: flex;
    gap: 0.625rem;
    margin-top: 1.875rem;
}

.email-form {
    margin-top: 1.875rem;
}

/*----------------- Radio Buttons ----------------------*/
.Query-type1 {
    display: flex;
    flex-direction: column;
}

.container-radio {
    display: flex;
    gap: 0.625rem;
    width: 100%;
}

.input-radio {
    border: 1px solid #616161;
    width: 100%;
    border-radius: 0.25rem;
    white-space: nowrap;
    cursor: pointer;
    height: 2.5rem;
    padding: 0.625rem;
    display: flex;
    gap: 0.625rem;
    transition: all 0.3s ease-in-out;
}

.input-radio input[type="radio"] {
    accent-color: #0C7C69;
    transition: all 0.3s ease-in-out;
}

.input-radio label {
    width: 98%;
    cursor: pointer;
}

#Query {
    margin: 1.25rem 0;
    /* 20px */
    font-family: Arial;
    font-size: 0.875rem;
    /* 14px */
}

/*--------------------- Textarea -----------------------*/
.container-message {
    margin-top: 1.25rem;
}

textarea {
    resize: none;
    margin-left: 0.625rem;
    width: 99%;
    height: 7.5rem;
    border-radius: 0.3125rem;
    padding: 0.625rem;
}

#text-message {
    margin-left: 0.625rem;
    padding-bottom: 0.625rem;
    font-family: Arial;
    font-size: 0.875rem;
}

/*------------------------ Checkbox -----------------------*/
.CheckBox {
    display: flex;
    flex-direction: row;
    gap: 0.3125rem;
}

/*------------------------------ Botão de Envio ---------------------*/
input[type="submit"] {
    padding: 0.625rem 1.25rem;
    background-color: #0C7C69;
    width: 100%;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 0.3125rem;
    margin-top: 1.875rem;
}

input[type="submit"]:hover {
    background-color: var(--button-hover);
}

/*---------------------------- Estados de Input ---------------------*/
form input:hover {
    border: 1px solid #1abda2;
}

/*----------------------------Lista com o required --------------------*/
.aviso {
    display: none;
    color: red;
    font-size: 0.875em;
    margin-top: 0.3125rem;
}

@media (max-width: 480px) {
    .container-form {
        width: 95%;
        padding: 0.9375rem;
    }

    input[type="text"] {
        width: 100%;
        padding: 0.625rem;
    }

    .form {
        flex-direction: column;
    }

    .container-radio {
        flex-direction: column;
        width: 100%;
    }

    .input-radio {
        width: 100%;
        margin-bottom: 0.625rem;
    }

    .message textarea {
        width: 100%;
        margin: 0.625rem 0;
    }

    #successMessage {
        width: 50%;
        top: 0.625rem;
        font-size: 0.8rem;
    }

    .CheckBox label {
        margin-left: 0.3125rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .container-form {
        width: 90%;
        padding: 1.25rem;
    }

    input[type="text"] {
        width: 100%;
    }

    .form {
        flex-direction: column;
    }

    .container-radio {
        flex-direction: column;
    }

    .input-radio {
        width: 100%;
    }

    .message textarea {
        margin: 0;
        width: 100%;
    }

    #successMessage {
        width: 50%;
        top: 0;
        font-size: 1rem;
    }

    .CheckBox label {
        margin-left: 0.625rem;
        font-size: 1rem;
    }
}

@media (max-width: 375px) {
    .container-form {
        margin-bottom: 0.9375rem;
    }
}